body {     
  color:white;
  background:whitesmoke;
  margin: 0px; 
}

header {
    border-bottom: solid 3px red;
    padding: 20px;
    font-size: 38px;
    color: rgb(42, 122, 228);

}

section {

  background:radial-gradient(black, transparent ) ;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
}